.navigationButton{
	-fx-background-color: #422f1f;
}

.navigationButton:hover{
	-fx-background-color: white;
}

.calendarCell {
    -fx-background-color: red;
    -fx-border-color: #e0e0e0;
    -fx-border-width: 0 1 1 0;
}
