.navigationButton{
	-fx-background-color: #422f1f;
	-fx-text-fill: white;
}

.navigationButton:hover{
	-fx-background-color: white;
	-fx-text-fill: black;
}

.calendarCell {
    -fx-background-color: gray;
    -fx-border-color: #e0e0e0;
    -fx-border-width: 0 1 1 0;
}

.calendarCell:hover {
    -fx-cursor: hand;
}

.appointmentLabel {
    -fx-background-color: #90caf9;
    -fx-text-fill: black;
    -fx-padding: 2 4;
    -fx-border-radius: 4;
    -fx-background-radius: 4;
}

.bookedCell {
    -fx-background-color: lightgray;
    -fx-border-color: #e0e0e0;
    -fx-border-width: 0 1 1 0;
    -fx-cursor: default;
}

.bookedCell {
    -fx-cursor: default;
}